.content123 {
    min-height: calc(100vh - 270px);
}
.footer1{
    height: 50px;
    background: #2d3246;
}

@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }
    table tr {

        border—bottom: 3px solid #ddd;
        display: block;
    }
    table td {
        border—bottom: 1px solid #ddd;
        display: block;
        text—align: right;
    }
    table td:before {
        content: attr(aria—label);
        float: left;
    }
}